system { 
   services { 
      outbound-ssh { 
         client {{ configlet.client }} {
            device-id {{ configlet.deviceID }};
            secret "Juniper"; 
            services netconf; 
            {{ configlet.ip }} port {{ configlet.port }}
         } 
      } 
    } 
}