[
        { rabbit, [
                { loopback_users, [ ] },
                { tcp_listeners, [ 5672 ] },
                { ssl_listeners, [ ] },
                { default_pass, <<"juniper123">> },
                { default_user, <<"yapt">> },
                { hipe_compile, false },
		{ heartbeat, 0 }
        ] },
        { rabbitmq_management, [ { listener, [
                { port, 15672 },
                { ssl, false }
        ] } ] }
].
