<?xml version="1.0" encoding="UTF-8"?>
<policy>
<policy-type>{{ type }}</policy-type>
 <policy-state>FINAL</policy-state>
 <policy-order>Float</policy-order>
 <name>{{ name }}</name>
 <description>policy created by yapt</description>
 <policy-position>DEVICE</policy-position>
 <policy-profile>
 <id>32768</id>
 </policy-profile>
 <publish-state>Not Published</publish-state>
</policy>