system {
    host-name {{ device.hostname }};
    time-zone {{ device.timezone }};
    domain-name {{ device.domain_name }};
    memory {
        hugepages {
            page-size 1024 {
                page-count 7;
            }
        }
    }
    root-authentication {
        encrypted-password "$6$M0Ujl$kAAyV7.w8JPGjdEkwouupAw/orsw/JJn73X4zp.obxcwsoUcsf3CjtD1UjcI12uraJqAW3TASXNG0DhaKYz3I/"; ## SECRET-DATA
    }
    services {
        ssh {
            root-login allow;
        }
        netconf {
            ssh;
            rfc-compliant;
        }
        enhanced-orchestration;
    }
}
interfaces {
    {% for interface in device.interfaces %}
    {% if interface.name == "jsxe0" %}
    {{ interface.name }} {
        vlan-tagging;
        unit 0 {
            vlan-id 1;
            family {{ interface.family }} {
                dhcp;
            }
        }
    }
    {% else %}
    {{ interface.name }} {
        unit 0 {
            family {{ interface.family }} {
                address {{ interface.address }};
            }
        }

    }
    {% endif %}
    {% endfor %}
}
host-os {
    vlans {
        {% for vlan in device.host_os_vlans %}
        {{ vlan.name }} {
            vlan-id {{ vlan.id }};
        }
        {% endfor %}
    }
}
snmp {
    community {{ device.community }} {
        authorization read-only;
    }
}
{% for vnf in device.vnfs %}
virtual-network-functions {{ vnf.name }} {
    image {
        {{ vnf.base_img_path }}{{ vnf.name }}.qcow2;
    }
    virtual-cpu {
        0 {
            physical-cpu 4;
        }
        1 {
            physical-cpu 11;
        }
        count 2;
        features {
            hardware-virtualization;
        }
    }
    {% for interface in vnf.interfaces %}
    interfaces {{ interface.name }}{
        description "{{ interface.description }}";
        mapping {
            {{ interface.mapping }} {
                virtual-function;
            }
        }
    }
    {% endfor %}

    memory {
        size 4194304;
        features {
            hugepages;
        }
    }
    storage vdb {
        type {
            cdrom {
                source {
                    file {{ vnf.bootstrap_remote_dir }}{{ vnf.name }}/{{ vnf.name }}.iso;
                }
            }
        }
    }
    no-autostart;
}
{% endfor %}