{{ heading }}
system {
    host-name {{ device.hostname }};
    time-zone {{ device.timezone }};
    root-authentication {
        encrypted-password "{{ device.encrypted_password }}"; ## SECRET-DATA
    }
    services {
        ssh;
        netconf {
            ssh;
        }
        outbound-ssh {
            client yapt {
                device-id abc123;
                secret "$9$DUH.5n/tIEyQFEylKx7jHqmQF69A01R"; ## SECRET-DATA
                services netconf;
                10.11.111.252 port 7804;
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    ntp {
        server {{ device.ntp_server }};
    }
}
chassis {
    fpc 0 {
        lite-mode;
    }
}
interfaces {
    {% for interface in device.interfaces %}
    {% if interface.address == "dhcp" %}
    {{ interface.name }} {
        description "{{ interface.description }}";
        unit 0 {
            family {{ interface.family }} {
                dhcp-client;
            }
        }
    }
    {% endif %}
    {% endfor %}
}
snmp {
    community {{ device.community }} {
        authorization read-only;
    }
}

