------------------------------------------------------------------------------------------------------------------------
Device Serial: {{ deviceSerial }}
Device Name  : {{ deviceName }}
Device Model : {{ deviceModel }}
Device Group : {{ deviceGroup }}
Device Status: {{ deviceStatus }}
Last Seen    : {{ lastSeen }}
------------------------------------------------------------------------------------------------------------------------
Task Name    : {{ taskName }}
Task Status  : {{ tasks.taskState }}
Task Message : {{ tasks.taskStateMsg }}
------------------------------------------------------------------------------------------------------------------------
