------------------------------------------------------------------------------------------------------------------------
Device Serial: {{ deviceSerial }}
Device Name  : {{ deviceName }}
Device Model : {{ deviceModel }}
Device Group : {{ deviceGroup }}
Device Status: {{ deviceStatus }}
Last Seen    : {{ lastSeen }}
------------------------------------------------------------------------------------------------------------------------