<address>
<name>{{ addressName }}</name>
<address-type>IPADDRESS</address-type>
<host-name/>
<edit-version/>
<members/>
<address-version>IPV4</address-version>
<address-type>{{ addressType }}</address-type>
<definition-type>CUSTOM</definition-type>
<ip-address>{{ ipAddress }}</ip-address>
<description>{{ description }}</description>
</address>