<create-vpn>
<vpn-mo>
<name>YAPT</name>
<max-retrans-time>0</max-retrans-time>
<ospf-area-id>0</ospf-area-id>
<unique-key-per-tunnel>true</unique-key-per-tunnel>
<preshared-key-type>AUTO_GENERATE</preshared-key-type>
<routing-type>STATIC</routing-type>
<tunnel-multi-point-size>-1</tunnel-multi-point-size>
<tunnel-interface-type>UNNUMBERED</tunnel-interface-type>
<type>HUB_N_SPOKE</type>
<vpn-tunnel-mode-types>ROUTE_BASED</vpn-tunnel-mode-types>
<profile>
<name>MainModeProfile</name>
<id>65536</id>
</profile>
<description>Created through YAPT</description>
</vpn-mo>
<devices>
<vpn-device-bean>
<is-hub>true</is-hub>
<external-if-name>ge-0/0/0</external-if-name>
<proxy-id>192.0.2.0/24</proxy-id>
<tunnel-zone>VPN</tunnel-zone>
<protected-network-zones total="0">
<protected-network-zon>trust</protected-network-zon>
</protected-network-zones>
<extranet-device>false</extranet-device>
<tunnel-vr>
</tunnel-vr>
<device-name>Node-177-178-cluster-logical-system1</device-name>
<device-moid>net.juniper.jnap.sm.om.jpa.SecurityDeviceEntity:131080</device-moid>
</vpn-device-bean>
<vpn-device-bean>
<is-hub>True</is-hub>
<external-if-name>ge-0/0/0</external-if-name>
<proxy-id/>
<tunnel-zone>VPN</tunnel-zone>
<protected-networks total="0">
<protected-network>
<id>983510</id>
<name>VPN_AD1</name>
</protected-network>
<protected-network>
<id>983511</id>
<name>VPN_AD2</name>
</protected-network>
</protected-networks>
<extranet-device>false</extranet-device>
<tunnel-vr>
</tunnel-vr>
<device-name>10.205.119.19</device-name>
<device-moid>net.juniper.jnap.sm.om.jpa.SecurityDeviceEntity:131357</device-moid>
</vpn-device-bean>
</devices>
</create-vpn>