<discover-devices>
<ipAddressDiscoveryTarget>
<ipAddress>{{ ip_address }}</ipAddress>
</ipAddressDiscoveryTarget>
<usePing>true</usePing>
<useSnmp>true</useSnmp>
<snmpV1Setting>
<communityName>public</communityName>
</snmpV1Setting>
<manageDiscoveredSystemsFlag>true</manageDiscoveredSystemsFlag>
<sshCredential>
<userName>{{ user }}</userName>
<password>{{ password }}</password>
</sshCredential>
</discover-devices>