<firewall-policy>
<name>{{ name }}</name>
<definition-type>CUSTOM</definition-type>
<policy-type>{{ type }}</policy-type>
<description>policy created by yapt</description>
<policy-state>FINAL</policy-state>
<ips-mode>NONE</ips-mode>
<ips-sigsets/>
<policy-profile>
<id>32768</id>
</policy-profile>
<priority>65539</priority>
<publish-state>NOT_PUBLISHED</publish-state>
<manage-global-policy>false</manage-global-policy>
<manage-zone-policy>true</manage-zone-policy>
<precedence>3</precedence>
<policy-priority>LOW</policy-priority>
<rules/>
</firewall-policy>