<service>
<name>{{ service_name }}</name>
<created-by-user-name/>
<edit-version/>
<id/>
<description>{{ description }}</description>
<is-group>{{ is_group }}</is-group>
<domain-id>{{ domain_id }}</domain-id>
<members>
<member>
<id>99011</id>
<name>test123</name>
<description>test123</description>
<is-group>false</is-group>
</member>
</members>
<protocols/>
</service>