<service>
<name>{{ service_name }}</name>
<created-by-user-name/>
<edit-version/>
<id/>
<description>{{ description }}</description>
<is-group>{{ is_group }}</is-group>
<domain-id>{{ domain_id }}</domain-id>
<members/>
<protocols>
<protocol>
<name>{{ protocol_name }}</name>
<sunrpc-protocol-type>{{ protocol_number }}</sunrpc-protocol-type>
<msrpc-protocol-type>{{ protocol_number }}</msrpc-protocol-type>
<protocol-number>{{ protocol_number }}</protocol-number>
<dst-port>{{ dst_port }}</dst-port>
<disable-timeout>true</disable-timeout>
<protocol-type>PROTOCOL_TCP</protocol-type>
<rpc-program-number/>
<icmp-code>0</icmp-code>
<icmp-type>0</icmp-type>
<alg/>
</protocol>
</protocols>
</service>